<div class="container">

  <h1>Tools To Rent</h1>
  <div class="row justify-content-center">
    <% @tools.each do |tool| %>
      <div class="col-12 col-sm-6 col-lg-4 p-3">
        <%# <ul> %>
        <%= image_tag tool.image, class: "tool-images" %>
        <div class="d-flex justify-space-between " >
          <p> <%= link_to tool.tool_name, tool_path(tool) %> </p>

        </div>
        <%# </ul> %>
      </div>
    <% end %>
  </div>

</div>
