<div class="container tools-index">
  <h1>List of Tools</h1>
  <% i = 0 %>
<% @tools.each do |tool| %>
  <ul>
    <div class="container">
      <li><%=link_to tool.tool_name, tool_path(tool) %></li>
      <li><%= tool.price %></li>
       <%# <%= image_tag() %>
    </div>
 </ul>
  <% i += 1 %>
  <% end %>

</div>


 <%# <li><%= link_to list.name, list_path(list) %>
