<div class="container">
  <h1>List of Tools</h1>
  <% i = 0 %>
<% @tools.each do |tool| %>
  <ul>
    <%# <%= image_tag() %>
    <li><%= tool.tool_name %></li>
    <li><%= tool.price %></li>
 </ul>
  <% i += 1 %>
  <% end %>

</div>
