<div class="container">

  <h1>Tools To Rent</h1>

  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-3">
        <%# <ul> %>
        <%= image_tag tool.image, width: 300, height: 300, class: "tool-images" if tool.image %>
        <div>
          <p> <%= link_to tool.tool_name, tool_path(tool) %> </p>
        </div>
        <%# </ul> %>
      </div>
    <% end %>
  </div>

</div>


 <%# <li><%= link_to list.name, list_path(list) %>
