<div class="container">
  <h1>List of Tools</h1>
  <ul>
  <% @tools.each do |tool| %>
  <div class="container">
    <li><%= tool.tool_name %></li>
    <li><%= tool.price %></li>
  </div>
  <% end %>
  </ul>
</div>
