<div class="container">
  <h1>List of Tools</h1>
  <ul>
  <% @tools.each do |tool| %>
  <div class="container">
    <li><%=link_to tool.tool_name, tool_path(tool) %></li>
    <%= tool.price %>
  </div>
  <% end %>
  </ul>
</div>


 <%# <li><%= link_to list.name, list_path(list) %>
