// Import page-specific CSS files here.
@import "home";


.container {
display: flex;
align-content: space-between;
gap: 20px 20px;

// display: space-evenly;



}



// lawnmower forklift cement mixer chainsaw boomlift drill
