// Import page-specific CSS files here.
@import "show";
@import "dashboard";
@import "home";
@import "new";


.index-background {
// background-image: url("index3bg.jpeg");
// background-color: black;
background-color:rgb(30, 30, 30);
padding-top: 20px;
}

.title-index{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}


.card-title {
background-color:rgb(90, 65, 53);
// text-decoration: none;
padding: 10px 20px;
color: white;
border-radius: 10%;
text-decoration: dotted;

}
#tool-name {
  text-decoration: none;
}


// ... More customization as needed

// Import Bootstrap after customizations



// .tools-index {
// display: flex;
// align-content: space-between;
// gap: 20px 20px;

// display: space-evenly;

// jnknkn?

// }

.card-img-top {
  width: 374px;
  height: 374px;
  object-fit: cover;
}

// lawnmower forklift cement mixer chainsaw boomlift drill
// @import '~bootstrap/scss/bootstrap';
