body{
  background-color: #303030;

}

#wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;

  .title-new{
    h1 { font-family: 'Times New Roman', Times, serif !important; }
    display: flex;
    justify-content: center;
    color:white;
    padding-top: 25px;
    margin-top: 25px;
  }
  .showbgimg2{
    width: 100%;
    display: flex;
    justify-content: center;
    .showcard{
      font-size: 24px;
      // font-weight: 200;
      width: 65%;
    }
  }

}
