

.showbgimg {
  background-image: url("tooleybgshow.jpg");
  background-size: cover;
}

.showcard {
  // display: flex;
 background-color: rgba(244, 244, 244, 0.8);
box-shadow: 0 0 10px rgba(0,0,0,0.5);
font-weight: 400;
font-size: 20px;
width: 760px;

}


// p-5
// style="width: 800px"
