
<div id="landing-background">
 <div class="container" >
  <div class="banner d-flex banner-text justify-content-center">
       <h2>Unlocking Possibilities, One Tool at a Time</h2>
  </div>

  <div class="card">

   <div class="body-image">
   <%= image_tag "tooleypimage.png" %> </div>

    <p class="p-5">
     At Tooley, we're here to empower you. Choose from our diverse range of tools and heavy machinery, and experience the convenience of renting exactly what you need for your project.If you own tools, you can rent them out to fellow enthusiasts, making a positive impact and earning extra income. It's a win-win for everyone involved, fostering a collaborative community of tool enthusiasts. Join us and unlock the potential of shared tools today.
    </p>

  </div>
 </div>
</div>
