
<div id="landing-background" class="d-flex justify-content-center align-items-center">
  <div class="container" >
    <div class="banner d-flex flex-column banner-text justify-content-center">
      <h1 class="mb-5" id="title-home">Unlocking Possibilities, One Tool at a Time</h1>
      <div class="d-flex">
        <%= link_to tools_path do %>
          <button type="button" class="btn btn-warning btn-lg px-5 home-button mt-4">
            <b>Rent A Tool</b>
          </button>
        <% end %>
        <%= link_to new_tool_path do %>
          <button type="button" class="btn btn-warning btn-lg ms-5 px-4 home-button mt-4">
            <b>Rent Out Tools</b>
          </button>
        <% end %>
      </div>
    </div>
      <%# <div class="body-image">
      </div> %>
  </div>
</div>
